* {
	margin: 0;
}

html, body {
	height: 100%
}

body:after {
	content: url(/web/img/icon-status-notconnected.png);
	display: none;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -210px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
	height: 200px; /* .push must be the same height as .footer */
}

header {
	margin: 20px 0;
}

.tab-pane {
	margin-top: 10px;
}

.feed-btn {
	position: relative;
	top: 50px;
	margin: 3px;
	right: 25px;
}

.wi-renderer {
	text-align: center;
}

.wi-shares-btn {
	margin: 5px;
}

.wi-shares-view {
	height: 140px;
	overflow: auto;
	padding: 5px;
}

.wi-shares-folder {
	height: 30px;
	padding: 4px 4px 4px 10px;
	border-radius: 3px;
}

.wi-shares-folder button {
	float: right;
	display: none;
}

.wi-folder-modal a {
	display: block;
}

.wi-shares-folder:hover {
	background-color: #DDD; 
}

.wi-shares-folder:hover button {
	display: block !important;
}

.wi-config-widget {
	width: 360px;
	/* height: 50px; */
	margin-right: 15px;
	display: inline-block;
}

.wi-config-widget [type='checkbox'] {
	float: right;
	margin-top: 3px;
}

.wi-config-widget>input,.wi-config-widget>select {
	display: inline-block;
	float: right;
	margin-top: -6px;
	margin-right: 10px;
}

.wi-input-small {
	width: 80px;
}

.wi-input-medium  {
	width: 170px;
}

.btn-action {
	width: 90%;
}

.status-icon {
	height: 48px;
	float: right;
}

#console pre {
	font-size: 0.8em;
	height: 200px;
	overflow-y: scroll;
}
